{% extends 'master.html' %}
{% load static %}

{% block scripts %}<script src="{% static 'uppskrift/js/filter.js' %}"></script>{% endblock %}
{% block headline%}Uppskriftir Logasow{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'uppskrift/css/index.css' %}"/>{% endblock %}

{% block body %}
    <div>
        Raða eftir: <a href="/">Bókstaf</a>, <a href="?sort=flokkur">Flokki</a>,  <a href="?sort=yfirflokkur">Yfirflokki</a>
    </div>
    <div id="uppskriftir">
        {% for flokkur in grouped_uppskriftir %}
            <div class="flokk-container">
                <h3>{{flokkur.name}}</h3>
                <ul>
                {% for uppskrift in flokkur.uppskriftir %}
                    <li class="recipe-link" data-id="{{uppskrift.id}}">
                        <a href="/u/{{uppskrift.slug}}">{{uppskrift.nafn}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {%endfor%}
    </div>
{% endblock %}


{% block navbar %}
    {%if flokkar %}
        <div id="flokkar">
            <input id="searchbar" placeholder="Leita að uppskrift"/>
            <button id="random-pick">Velja úr Handraðanum</button>

            <div>
                <b>Flokkar</b>
                <ul>
                {%for flokkur in flokkar%}
                    <li>
                        <input type="checkbox" value="{{flokkur.nafn}}"/>{{flokkur.nafn}}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}