{% extends 'master.html' %}
{% block headline%}Uppskriftir Logasow
<small>{{uppskrift.uppruni}}</small>{% endblock %}

{% block body %}

{% if uppskrift.uppskrift %}
<div>
    <b>Innihald</b>
    <div>
        {{uppskrift.innihaldsefni|safe }}
    </div>
</div>
{% endif %}

{% if uppskrift.uppskrift %}
<div>
    <b>Aðferð</b>
    <div>
        {{uppskrift.uppskrift|safe }}
    </div>
</div>
{% endif %}

{% if uppskrift.athugasemdir%}
<div>
    <div>
        <b>Athugasemdir</b>
    <p>
        {{uppskrift.athugasemdir}}
    </p>
    </div>
</div>
{% endif %}
<div>
    <b>Flokkar</b>
    <div>
    {% for flokkur in uppskrift.flokkar.all%}
        <a href="/f/{{flokkur}}">{{flokkur}}</a>
    {% endfor %}
    </div>
</div>
<div>
    <b>Skoðanir</b>
    <div>
        {% for skodun in uppskrift.skodun_set.all %}
            {{skodun.medlimir.nafn}}
            {{skodun.get_skodun_display}}
        {%endfor%}
    </div>
</div>

{% endblock %}
