#searchbar{
    border-radius: 17px;
    width: 215px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    text-align: center;
    font-weight: bold;
}

.highlight{
    background-color: #EE0;
    border-radius: 15px;
    padding: 7px;
    border: 2px solid black;
}

.recipe-link a{
    color:black;
    transition: background-color 50ms ease-in-out;
}

#uppskriftir{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
}

.flokk-container{
    width:45%;
}

ul{
    margin:0;
    padding:0;
}